@page "/counter"
@inject IStringLocalizer<PagesResources> Localizer

<PageTitle>@Localizer.Get(PagesResources.Counter)</PageTitle>

<h1>@Localizer.Get(PagesResources.Counter)</h1>

<p role="status">@Localizer.Get(PagesResources.CurrentCount, currentCount)</p>

<button class="btn btn-primary" @onclick="IncrementCount">@Localizer.Get(PagesResources.ClickMe)</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
